<<<<<<< HEAD
$bfgreen: #668134;
$bfblack: #000000;
$bfsans: Arial, "Helvetica Neue", Helvetica, sans-serif;
=======
// Variables
$froggreen: #668134;
$frogblack: #000000;
$frogsans: Arial, "Helvetica Neue", Helvetica, sans-serif;
>>>>>>> upstream/master
