/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*this gets rid of all the browser defaults; sets to 0*/

@import "compass/reset";
@import "variables";

.above-header {
	background: $bfblack;
}

#page {
	max-width: 1225px;
	margin: 0 auto;
}
article {
	font-size: 16px;
	line-height: 27px;
	h1 {
	font-size: 36px;
	font-family: Georgia;
	color: $bfgreen;
	}
}

.article-title {
	left: 25px;
	top: 260px;
}

div nav span {
	line-height: 40px;
	height: 40px;
	width: 80px;
	padding-left: 15px;
	font-weight: normal;
}

#main-nav {
	a {
		color: white;
		text-decoration: none;
		font-family: Georgia;
		line-height: 40px;
		font-size: 14px;
		padding: 0 24px 0 24px;
		&:hover {
			text-decoration: underline;
		}
	}
}

.logo {
	a {
		left: 20px;
		top: 84px;
		position: absolute;
		color: white;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	font-size: 72px;
	font-family: Georgia;
	color: white;
	
	}
}

header#top {
	background: $bfgreen url("../images/bullfrog-header.png") no-repeat right center;
	width: 1225px;
	height: 175px;
	margin-bottom: 48px;
}

#content {
	width: 578px;
	float: left;
}

footer {
	clear: both;
	color: white;
	padding: 20px;
	background: $bfblack;

}
