<<<<<<< HEAD
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*this gets rid of all the browser defaults; sets to 0*/

@import "compass/reset";
@import "variables";

=======
@import "compass/reset";
@import "variables";

// Mixins
>>>>>>> upstream/master
@mixin froglinks($color) {
  display: block;
  color: $color;
  text-decoration: none;
  margin-bottom: 24px;
  &:hover {
    text-decoration: underline;
  }
}

// Placeholder selectors
%quarter-col {
  margin: 0 24px;
  width: 267px;
  float: left;
}

// Main styles
h2 {
  font-size: 20px;
<<<<<<< HEAD
  color: $bfgreen;
=======
  color: $froggreen;
>>>>>>> upstream/master
  margin: 24px 0;
}

.above-header {
<<<<<<< HEAD
  background: $bfblack;
}

#page {
  max-width: 1225px;
=======
  background: $frogblack;
}

#page {
  width: 1225px;
>>>>>>> upstream/master
  margin: 0 auto;
}

#main-nav {
  a {
    color: white;
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    padding: 0 24px 0 24px;
    &:hover {
      text-decoration: underline;
    }
  }
}

header#top {
  padding: 50px 24px;
<<<<<<< HEAD
  background: $bfgreen url("../images/bullfrog-header.png") no-repeat right center;
=======
  background: $froggreen url("../images/bullfrog-header.png") no-repeat right center;
>>>>>>> upstream/master
  margin-bottom: 48px;
  .logo a {
    font-size: 72px;
    color: white;
    text-decoration: none;
  }
}

#content {
  width: 578px;
  float: left;
}

article {
  font-size: 16px;
  line-height: 27px;
  h1 {
    font-size: 36px;
<<<<<<< HEAD
    color: $bfgreen;
    margin: 24px 0;
  }
  p {
    font-family: $bfsans;
=======
    color: $froggreen;
    margin: 24px 0;
  }
  p {
    font-family: $frogsans;
>>>>>>> upstream/master
  }
}

section.content-center,
section.content-right {
  @extend %quarter-col;
  a {
<<<<<<< HEAD
    @include froglinks($bfgreen);
=======
    @include froglinks($froggreen);
>>>>>>> upstream/master
  }
}

section.content-center {
  ul {
<<<<<<< HEAD
    font-family: $bfsans;
    li {
      a {
        @include froglinks($bfgreen);
=======
    font-family: $frogsans;
    li {
      a {
        @include froglinks($froggreen);
>>>>>>> upstream/master
      }
    }
  }
}

<<<<<<< HEAD
=======

>>>>>>> upstream/master
section.content-right {
  article {
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
  h3 {
    @extend h2;
    margin-bottom: 12px;
  }
}

footer {
  clear: both;
<<<<<<< HEAD
  background: $bfblack;
=======
  background: $frogblack;
>>>>>>> upstream/master
  padding: 20px;
  color: white;
}
