/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, section.content-right h3, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

h2, section.content-right h3 {
  font-size: 20px;
  color: #668134;
  margin: 24px 0;
}

.above-header {
  background: black;
}

#page {
  max-width: 1225px;
  margin: 0 auto;
}

#main-nav a {
  color: white;
  text-decoration: none;
  line-height: 40px;
  font-size: 14px;
  padding: 0 24px 0 24px;
}
#main-nav a:hover {
  text-decoration: underline;
}

header#top {
  padding: 50px 24px;
  background: #668134 url("../images/bullfrog-header.png") no-repeat right center;
  margin-bottom: 48px;
}
header#top .logo a {
  font-size: 72px;
  color: white;
  text-decoration: none;
}

#content {
  width: 578px;
  float: left;
}

article {
  font-size: 16px;
  line-height: 27px;
}
article h1 {
  font-size: 36px;
  color: #668134;
  margin: 24px 0;
}
article p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

section.content-center,
section.content-right {
  margin: 0 24px;
  width: 267px;
  float: left;
}

section.content-center a,
section.content-right a {
  display: block;
  color: #668134;
  text-decoration: none;
  margin-bottom: 24px;
}
section.content-center a:hover,
section.content-right a:hover {
  text-decoration: underline;
}

section.content-center ul {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
section.content-center ul li a {
  display: block;
  color: #668134;
  text-decoration: none;
  margin-bottom: 24px;
}
section.content-center ul li a:hover {
  text-decoration: underline;
}

section.content-right article p {
  font-size: 14px;
  line-height: 20px;
}
section.content-right h3 {
  margin-bottom: 12px;
}

footer {
  clear: both;
  background: black;
  padding: 20px;
  color: white;
}
